modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33439
externalPort = 3000

[[ports]]
localPort = 39059
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_object_storage:1.0.0", "javascript_database:1.0.0", "javascript_websocket:1.0.0", "javascript_auth_all_persistance:1.0.0", "javascript_stripe:1.0.0", "javascript_log_in_with_replit:1.0.0"]

[userenv]

[userenv.shared]
ADMIN_PANEL_PIN = "252525"
VITE_FIREBASE_API_KEY = "AIzaSyCBqkJ4qJP0G5wNvnU7u2QkQXr5yVTRXkw"
VITE_FIREBASE_AUTH_DOMAIN = "sahibindenhayvan-55728.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "sahibindenhayvan-55728"
VITE_FIREBASE_STORAGE_BUCKET = "sahibindenhayvan-55728.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "391297918869"
VITE_FIREBASE_APP_ID = "1:391297918869:web:4d10c85c9c5c810670789c"
VITE_FIREBASE_MEASUREMENT_ID = "G-L6M9FYENF1"
VITE_RECAPTCHA_SITE_KEY = "6LfkTSAsAAAAAC3pwCGqgDDODK0VWcXatiydbsz-"

[objectStorage]
defaultBucketID = "replit-objstore-b7d12b8c-c133-494b-8a4c-92a2124522b3"
